{% extends 'base_examen.html' %}
{% load static %}

{% block contenido %}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'examen' %}">Autenticacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="{% url 'presentarexamen' %}">Presentar examen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Examen de {{ examen.planificacion.materia }} - Sección: {{ examen.planificacion.seccion }}</h5>
    <p class="card-text">Duración: {{ examen.duracion }} minutos | Número de intentos permitidos: {{ examen.nintentos }}</p>
    <p class="card-text">Fecha de inicio: {{ examen.fechainicio }} | Fecha de finalización: {{ examen.fechafinal }}</p>

    <hr>

    <form method="post">
      {% csrf_token %}
      {% for pregunta in preguntas %}
        <div class="mb-4 text-left">
          <label><strong>Pregunta {{ forloop.counter }}:</strong> {{ pregunta.texto }}</label>
          <input type="text" name="respuesta_{{ pregunta.id }}" class="form-control" placeholder="Escribe tu respuesta aquí">
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Enviar respuestas</button>
    </form>
  </div>
</div>
{% endblock contenido %}
